#gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 60vh;
  background: url(./static/stars.png) repeat-y, linear-gradient(180.26deg, #061627 -7.57%, #3d1d3c 143.75%);
}

#carouselExampleAutoplaying{
  width: 25vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
}

#carouselExampleAutoplaying::after{
  content: '';
  width: 28vw;
  height: 40vh;
  border: 2px solid aqua;
  position: absolute;
  border-radius: 20px;
}

@media (max-width:600px) {
  #gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 150vh;
  }

  #carouselExampleAutoplaying{
    width: 80vw;
    margin: auto;
  }
  #carouselExampleAutoplaying::after{
    width: 82vw;
    margin: auto;
  }
}